body {
    display: flex;
    flex-direction: row;
}
.about {
    width: 50%;
    background-color: rgba(217, 255, 223,0.5);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: width 3s;
    border-right: 2px solid black;
}
.brands {
    background-color: rgba(255, 255, 207, 0.5);
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: width 3s;
}
.about ul,.brands ul {
    list-style-type: none;
    font-size: 30px;
}
.about:hover,.brands:hover {
    width: 70%;
}

@media only screen and (max-width: 750px){
    .Buttons {
        width: 190px;
        height: 35px;
        font-size: 14px;
    }
    li, .second{
        font-size: 25px;
    }
}
