html {
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}

div{
    text-align: center;
    padding-top: 4.6875vh;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0 ;
}
table td. table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5B8930;
    color: white;
}

.sidenav{
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5B8930;
    padding-top: 4.6875vh;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 3.125vh;
    color: #f1f1f1;
    display: block;
}

.sidenav a:hover {
    color: #818181;
}

.content{
    width: 90%;
    margin-top: -2%;
    float: right;
    background-color: #ebffd7;
    padding-top: 4.6875vh;
}

h1{
    text-align: center;
}

input{
    width: 29.3vw;
    height: 4.6875vh;
}


[type=submit]{
    width: 8.8vw;
    height: 4.6875vh;
}

.a{
    margin-left: 14.6vw;
}

.a [for=title]{
    font-size: 3.125vh;
    font-weight: bold;
}

.b [for=title]{
    font-size: 3.125vh;
    font-weight: bold;
}

.a [type=submit], .a [for=title]{
    margin-left: -14.6vw;
}