body {
    overflow: scroll;
}
.sale {
    width: 100%;
    height: 18vh;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale img {
    align-items: center;
    height: 20vh;
    width: 100%;
}

.countdown {
    font-size: 50px;
    position: absolute;
    color: red;
 }
.main-banner {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}
.main-banner #imgban3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban2{
    background-size: cover;
    background-position: center;
    background-position-y: -100px ;
    background-repeat: no-repeat;
}
.main-banner #imgban1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imgbanbtn {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    top:340px;
    z-index: 2000;
    opacity: 0.8;
    cursor: pointer;
}
.imgbanbtn:hover {
    background-color: black;
    opacity: 60%;
}
.imagebanbtn-prev {
    left: 5px;
    background-image: url(../images/arrowleft.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    opacity: 40%;
}
.imagebanbtn-next {
    right: 5px;
    background-image: url(../images/right.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    opacity: 40%;

}
.main-banner .imgban-box h2{
    font-family: Arial sans-serif;
    font-size: 30px;
    color: #fff;
}
.main-banner .imgban-box p{
    padding-top: 6px;
    font-family: Arial sans-serif;
    font-size: 16px;
    color: #fff;
}
.main-banner #imgban3 .imgban-box {
    padding-top: 220px;
    padding-left: 100px;
}
.main-banner #imgban2 .imgban-box {
    padding-top: 220px;
    padding-left: -100px;
    float: right;
    text-align: right;
}
.main-banner #imgban1 .imgban-box {
    padding-top: 70px;
    padding-left: 100px;
}
.animated-photos {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.text-Crocodile {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding-top: 45px;
}
.text-Crocodile h1 {
    font-size: 40px;
    letter-spacing: 1px;
}

.text-Crocodile h2 {
    letter-spacing: 3px;
    padding-top: 20px;
    color: #DCDCDC;
    text-transform: capitalize;
    font-weight: normal;
}

.photos {
    width: 100%;
    height: 880px;
    display: flex;
    flex-direction: row;
}
.photos .men-div,.photos .women-div {
    width: 40%;
    height: 85%;
    margin-top: 4%;
    margin-left: 6.7%;
    overflow: hidden;
}
.ThePhoto-1 ,.ThePhoto-2 {
    width: 100%;
    height: 100%;
    background-image: url(../images/ourstoryPics/redlight.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    position: relative;
}
.opening {
    text-align: center;
}
.skrr{
    position: absolute;
    top: 550px;
    left: 27%;
    display: block;
    list-style-type: none;
    transition: top 3s;
    -webkit-transition:top 3s;
    -moz-transition:top 3s;
    -o-transition:top 3s;
}
.Highlight {
    width: 100%;
    height: 5%;
}
.Highlight p {
    text-align: center;
    font-size: 40px;
    margin-top: -10px;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 500px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}
.swiper-slide .imgBx img {
    width: 400px;
    height: 400px;
}
.Details h3 {
    text-align: center;
}
.swiper-pagination {
    display: none;
}
.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
}
.mobile {
    display: none;
}
.swiper-helper{
    width: 100%;
    height: 75vh;
}
@media screen and (max-width: 768px) {
    .text-Crocodile h1 {
        font-size: 30px;
        margin-top: -1vh;
    }
    .text-Crocodile h2{
        font-size: small;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
    }
    .photos {
        width: 100%;
        height: 880px;
        display: flex;
        flex-direction: column;
    }
    .photos .men-div,.photos .women-div {
        width: 96%;
        height: 85%;
        margin-top: 4%;
        margin-left: 2%;
        overflow: hidden;
        display: flex;
    }
    .skrr{
       display: none;
    }
    .ThePhoto-1 ,.ThePhoto-2 {
        width: 100%;
        height: 100%;
        background-position: center;
        background-position-y: -100px;
        background-repeat: repeat;
        background-attachment: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Highlight p {
        margin-top: 23px;
    }
    .video{
        margin-top: -250px;
    }
    .mobile {
        display: block;
        text-align: center;
    }
    .swiper-helper {
        height: 75vh;
    }
}
