main{
    text-align: center;
    margin: 12%;
}
.signInButton{
    width: 370px;
    height: 45px;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.signInButton:hover{
    background-color: white;
    color: black;
}
.warning{
    font-weight: bold;
}
.orienter{
    font-weight: normal;
}

@media only screen and (max-width: 750px){
    h2{
        font-size: 	18.72px;
    }
    h3{
        font-size: 16px;
    }
    .signInButton{
        width: 270px;
        height: 37px;
    }
}