.mainPhotoBrands {
    width: 100%;
    height: 500px;
    background-color:  #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.absolute-img {
    width: 70%;
    height: 550px;
    position: absolute;
    top: 46%;
    left: 15%;
}
.crocodileBrands {
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 50px;
    color: white;
}
.whiteDiv {
    width: 100%;
    height: 1200px;
    min-width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}
.quote-space {
    width: 60%;
    height: 270px;
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-top: 100px;
}
.quote {
    width: 95%;
    height: 88%;
    background-color: white;
    font-size: 23px;
    font-family: "Arial",sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.quote p {
    justify-items: center;
    align-items: center;
    color: #828282;
    letter-spacing: 3px;
    line-height: 35px;
    margin-top: 17px;
}
q {
    quotes: "‘" "’";
    font-size: 40px;
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}
.Commercial {
    width: 70%;
    height: 700px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.Commercial .Commercial-left {
    width: 50%;
    height: 100%;
}
.Commercial .Commercial-right {
    width: 50%;
    height: 100%;
    background-color: #dedede;
}
.up-text {
    width: 100%;
    height: 30%;
}
.down-photo {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleBrands {
    color: black;
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}
.textBrands {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 25px;
    margin-top: 15px;
    color: #828282;
    font-family: "Open Sans Condensed",sans-serif;
}
.brands.jpg {
    background-image: url(../images/brands.jpg);
}
.zPhoto {
    width: 47%;
    height: 70%;
    transform: rotateZ(10deg);
    background-size: cover;
    background-position: center;
}
.photo-commercial {
    width: 93%;
    height: 94%;
    margin: 20px 20px 20px 20px;
    background-image: url(../images/ourstoryPics/shoes.jpg);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
}
.back-policies {
    background-color:  #dedede;
    width: 100%;
    height: 600px;
    display: flex;
}

.protection-policies-background {
    background-image: url(../images/sea.jpeg);
}
.protection-policies {
    width: 60%;
    height: 500px;
    background-attachment: local;
    /*background-image: url(../images/sea.jpeg);*/
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 75px;
}
.textDiv {
    position: absolute;
    width: 50%;
    height: 40%;
    margin-left: 40%;
    margin-top:  215px;
    background-color: white;
    border: 20px solid  #dedede;
}
.textDiv .titleBrands {
    font-size: 27px;
}
.textDiv p {
    margin-left: 20px;
    margin-top: 35px;
    line-height: 23px;
}
.textDiv .textBrands {
    margin-top: 30px;
}
.sale {
    width: 100%;
    height: 150px;
    min-width: 40%;
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}
.main-banner {
    width: 70%;
    height: 700px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    margin: 100px auto 0;
}
.main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all ease-in-out 5s;
    -webkit-transition: all ease-in-out 5s;
    -moz-transition: all ease-in-out 5s;
    -o-transition: all ease-in-out 5s;
}
.main-banner #imgban3{
    background-image: url(../images/sea.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban2{
    background-image: url(../images/city.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban1{
    background-image: url(../images/p2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imgbanbtn {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    top:340px;
    z-index: 2000;
    opacity: 0.8;
    cursor: pointer;
}
.imgbanbtn:hover {
    background-color: black;
    opacity: 60%;
}
.imagebanbtn-prev {
    left: 5px;
    background-image: url(../images/arrowleft.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    opacity: 40%;
}
.imagebanbtn-next {
    right: 5px;
    background-image: url(../images/right.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    opacity: 40%;

}
.main-banner .imgban-box h2{
    font-family: Arial sans-serif;
    font-size: 60px;
    color: #fff;
}
.main-banner .imgban-box p{
    padding-top: 6px;
    font-family: Arial sans-serif;
    font-size: 16px;
    color: #fff;
}
.main-banner #imgban3 .imgban-box {
    padding-top: 220px;
    padding-left: 100px;
}
.main-banner #imgban2 .imgban-box {
    padding-top: 220px;
    padding-left: -100px;
    float: right;
    text-align: right;
}
.main-banner #imgban1 .imgban-box {
    padding-top: 70px;
    padding-left: 100px;
}
.crocodileBrands h4{
    display: inline;
}

.typing:before {
    content: "";
    margin-left: 0;
}
.typing:after {
    content: '';
    width: 1px;
    height: 7px;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.rights {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
@media screen and (max-width: 1024px){
    .mainPhotoBrands {
        width: 80%;
        height: 30vh;
        margin-top: 230px;
        background-color:  #dedede;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .mainPhotoBrands {
        width: 100%;
        height: 30vh;
        margin-top: 230px;
        background-color:  #dedede;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .crocodileBrands {
        margin-top: 10px;
        padding: 10px 10px 10px 10px;
        text-align: center;
        line-height: 35px;
        font-size: 20px;
        color: white;
    }
    .crocodileBrands p {
           font-size: 24px;
    }
    .absolute-img {
        left: 15vw;
        width: 70vw;
        height: 30vh;
        top: 63vh;
    }
    .whiteDiv {
        margin-top: 0;
    }
    .Commercial {
        width: 70%;
        height: 700px;
        display: flex;
        flex-direction: column;
        margin-top: -15vh;
    }
    .Commercial .Commercial-left {
        width: 100%;
        height: 50%;
    }
    .Commercial .Commercial-right {
        width: 100%;
        height: 50%;
        background-color: #dedede;
    }
    .titleBrands {
        font-size: 19px;
    }
    .textBrands {
        font-size: 14px;
        line-height: 22px;
    }
    .photo-commercial {
        width: 88%;
        height: 90%;
    }
    .down-photo {
        display: none;
    }
    .back-policies {
        width: 90%;
        margin-top: -205px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 5%;
    }
    .protection-policies {
        display: none;
    }
    .textDiv {
        top: 15px;
        width: 90%;
        height: 90%;
        margin: 0 auto;
    }
    .quote-space {
        margin-left: 5%;
        width: 90%;
    }
    .quote p {
        justify-items: center;
        align-items: center;
        color: #828282;
        letter-spacing: 3px;
        line-height: 30px;
        margin-top: 20px;
        font-size: 14px;
    }
    q {
        quotes: "‘" "’";
        font-size: 20px;
    }
    #main-banner {
        height: 30vh;
    }
    .rights {
        height: auto;
        font-size: small;
        padding: 30px 0 30px 0;
    }
}
