body {
    overflow: auto;
}
button {
    outline: none;
}
button:hover,select:hover {
    cursor: pointer;
}
button:focus {
    transition: 0.3s;
    transform: scale(0.9);
}
.buyTitle {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyTitle h1 {
    font-weight: normal;
}
.content {
    display: flex;
    flex-direction: row;
}
.description-of-item {
    width: 30vw;
    height: 85vh;
    margin-left: 5vw;
    padding-top: 15px;
}
.carousel-container {
    width: 35vw;
    height: 75vh;
    margin-left: 10vw;
    overflow: hidden;
}
.carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
}
#prevBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    left: 10.5vw;
    top: 75vh;
}
#nextBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    left: 41.9vw;
    top: 75vh;
}
/*.price {*/
/*    position: absolute;*/
/*    left: 70%;*/
/*    top: 40%*/
/*}*/
.description-item {
    color: lightgray;
    font-weight: normal;
    padding-bottom: 15px;
}
.price,.brand-type {
    font-size: 20px;
    padding-top: 5px;
    color: gray;
}
.size {
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 3px;
    color: gray;
}
select {
    width: 300px;
    height: 50px;
    border: 2px solid rgba(175, 242, 124, 0.5);
    font-size: 20px;
    color: gray;
}
.bag-like {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.add-to-bag {
    width: 230px;
    height: 55px;
    font-size: 20px;
    border: 2px solid black;
    background-color: rgba(175, 242, 124, 0.5);
}
.add-to-bag:hover {
    transition: 0.3s ease-in-out;
    background-color: rgba(175, 242, 124, 0.8);
}
.like {
    border-radius: 100%;
    width: 55px;
    height: 55px;
    margin-left: 20px;
    border: 1px solid rgba(175, 242, 124, 0.5);
}
