body {
    overflow: auto;
}
.mainClothesSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.typeOf {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.typeOf h1 {
    font-weight: lighter;
}
.clothes {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.clothes-row {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.photo-text {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
}
.description {
    padding-top: 5px;
    color: black;
    text-decoration: none;
}
.description:hover {
    transition: 4s;
    text-decoration: underline;
}
.price {
    font-size: 16px;
    padding-top: 2px;
}
.photo {
    width: 100%;
    height: 85%;
    /*background-image: url(../images/Ralph.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.ViewMoreButton {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo:hover {
    background-image: url(../images/facebook.png);
    transition: 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
    .clothes {
        align-items: center;
    }
    .clothes-row {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .photo-text {
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;
        padding-top: 10px;
]    }
    .photo {
        width: 80vw;
        height: 40vh;
        margin: 0 auto;
    }
    .text {
        font-size: 18px;
        text-align: center;
    }
}
