body{
    background-color: rgb(231, 231, 231);
    text-align: center;
    font-family: futura pt, sans-serif;
}

header{
    padding: 20px;
}

main {
    display: inline-block;
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-bottom: 60px;
}

.EAsignUp{
    padding: 20px;
}

.register{
    padding: 40px;
}

.form{
    margin-left: 95px;
    float: left;
    text-align: left;
    padding-bottom: 40px;
}
label{
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
}

.personalInput {
    width: 350px;
    height: 25px;
    padding: 10px;
    border: 1px solid black;
    outline: none;
    margin: 10px;
}

#day{
    width: 85px;
    height: 40px;
    margin-left: 10px;
    margin-top: 12px;
    border: 1px solid black;
}

#month{
    width: 160px;
    height: 40px;
    margin-left: 15px;
    border: 1px solid black;
}

#year{
    width: 85px;
    height: 40px;
    margin-left: 15px;
    border: 1px solid black;
}

.wearInput{
    width: 20px;
    padding-left: 25px;
}
.submit{
    width: 112px;
    background-color: black;
    color: white;
}
.submit:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.registerOrLogin{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
}

.registerOrLogin:hover{
    font-weight: bold;
}

/*#newToCrocodile, #alreadyRegistered{*/
/*    font-weight: bold;*/
/*}*/

a{
    color: black;
    padding: 50px;
    text-decoration: none;
}


.signInWith{
    width: 150px;
    height: 55px;
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: 1px solid black;
    outline: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.signInWith img{
    padding-top: 5px;
    padding-left: 10px;
}

.signInWith:hover{
    opacity: 50%;
}

.hrdivider {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.hrdivider span {
    position: absolute;
    top: -8px;
    right: 48.5%;
    background: #fff;
    font-weight: bold;
    font-size: 16px;
}

.terms{
    font-size: 10px;
    margin-left: 12px;
}
.privacyPolicy{
    padding: 0px;
    text-decoration: underline;
}
.forgotPass{
    font-size: 12px;
    float: right;
    margin-right: 12px;
    padding: 0px;
    text-decoration: underline;
}
.submitbutton{
    width: 370px;
    height: 45px;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.submitbutton:hover{
    background-color: white;
    color: black;
}

.registerProblem{
    padding-left: 10px;
    margin-top: -8px;
    font-size: 12px;
    color: red;
}

/* .registerEmpty{
    padding-left: 10px;
    margin-top: -26px;
    font-size: 12px;
    color: red;
} */

.birthDateOption{
    display: inline-flex;
    width: 400px;
    height: fit-content;
}
.dayProblem{
    position: absolute;
    padding-left: 10px;
    margin-top: -1%;
    font-size: 12px;
    color: red;
}
.monthProblem{
    position: absolute;
    padding-left: 115px;
    margin-top: -1%;
    font-size: 12px;
    color: red;
}
.yearProblem{
    position: absolute;
    padding-left: 295px;
    margin-top: -1%;
    font-size: 12px;
    color: red;
}

.registerProblemOptions{
    padding-left: 10px;
    margin-top: 0px;
    font-size: 12px;
    color: red;
}

.selectInput{
    outline: none;
}

.forgotPassword{
    width: 750px;
    height: 300px;
    padding: 20px;
    border: 1px solid black;
}

.resetbutton{
    width: 370px;
    height: 45px;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.resetbutton:hover{
    background-color: white;
    color: black;
}


/* Kqyre prap qite kode */

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 140%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 45%;
    left: 21.2%;
    padding: 16px;
    width: 750px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    main{
        width: 97%;
    }
    .form{
        margin-left: 0px;
    }
}
@media screen and (max-width: 600px) {
    .signInWith{
        width: 100px;
        height: 45px;
    }

    .signInWith h3, .signInWith img{
        font-size: 12px;
        width: 30px;
        height: 30px;
        padding-left: 0;
    }
}