@import url(https://fonts.googleapis.com/css2?family=Lora&display=swap%27);
* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background-color: #5B8930;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.69696969);
}
/*Css per pjesen e header*/
header {
    height: 18vh;
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.mainNav {
    height: 11vh;
    display: inherit;
    justify-content: space-around;
    overscroll-behavior: none;
    background-color: white;
}

.mainNavContent{
    width: 80vw;
    left: 10vh;
    display: inherit;
    background-color: white;
    align-items: center;
    color: #828282;
    margin-top: -0.4vh;
}

.mainNav a{
    color: #828282;
}

.optionsNav {
    height: auto;
    display: inherit;
    flex-direction: row;
    background-color: #5B8930;
    justify-content: space-around;
}

.optionsNavContainer {
    overflow: hidden;
    width: 85vw;
    display: inherit;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.iconText{
    font-size: 4.5vh;
}

.logopic {
    height: 67px;
    width: 77px;
    cursor: pointer;
}

.mainNav-genderList{
    margin-left: 2.9vw;
}
.genderList {
    display: inline;
    margin-left: 0.73vw;
    margin-right: 0.73vw;
}

.genderLink {
    text-decoration: none;
    color: black;
    font-size: 4vh;
}
input{
    width: 1.9vw;
    height: 1.56vh;
    border: none;
    border-radius: 4vw;
    font-size: 2vh;
    background-color: white;
    background-repeat: no-repeat;
    padding: 1.5vh;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline: none;
}

input:focus{
    direction: ltr;
    border: 0.3vh solid #ccc;
    width: 15vw;

}

.fontAwesome{
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

.fa-user, .fa-heart, .fa-shopping-bag, .fa-microphone {
    padding: 2.4vh;
    font-size: 2vh;
}

.mainNav-extra{
    width: 36vw;
    position: absolute;
    z-index: 1;
    right: 9.5vw;
    text-align: right;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 2vh;
    border: none;
    outline: none;
    color: white;
    padding: 2.1vh 2.5vh;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn-newIn{
    font-size: 2.2vh;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    padding: 2.1vh 2.5vh;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-decoration: none;
}

.dropbtn-sale{
    font-size: 2.2vh;
    font-weight: bold;
    border: none;
    outline: none;
    color: red;
    padding: 2.1vh 2.5vh;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #dedede;
}

.dropdown-content {
    font-size: 2vh;
    display: none;
    position: absolute;
    min-width: 14.7vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 1.8vh 2.5vh;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #efefef;
}

.dropdown-content a:hover {
    color: rgb(23, 28, 74);
}

.burger {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 9.5vw;
    text-align: right;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .fontAwesome{
    border: 0.3vh solid #ccc;
    width: 80%;
    height: 1.56vh;
}

.sidenav .fa-user, .sidenav .fa-heart, .fa-shopping-bag{
    padding-left: 0vh;
}

.sidenav .fa-microphone{
    padding-top: 5vh;
}

@media only screen and (max-width: 1200px) {
    .mainNav-extra{
        display: none;
    }
    .mainNav-genderList{
        display: block;
        margin-left: 8vw;
    }
    .burger{
        display: block;
    }
}

@media only screen and (max-width: 1005px){
    .mainNav{
        /*box-shadow: 0px 5px 5px #828282;*/
        border-bottom: 1px solid #5B8930;
        background-color: rgba(255, 255, 255, 0.9354789);
    }

    .mainNavContent{
        background-color: transparent;
    }

    .optionsNav{
        display: none;
    }
    header {
        height: 11.5vh;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 750px){
    .mainNav-extra{
        display: none;
    }
    .mainNav-genderList{
        display: block;
        padding-left: 5vw;
    }
    .burger{
        display: block;
    }
    .iconText{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .mainNav-genderList{
        display: block;
        padding-left: 0vw;
    }
    header{
        height: 10vh;
    }

    .genderLink{
        font-size: 3vh;
    }
    .logopic {
        height: 57px;
        width: 67px;
        cursor: pointer;
    }
}



/* CSS per pjesen e footer */
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.brand {
    height: 7.8vh;
    background-color: rgb(238, 238, 238);
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    vertical-align: middle;
    overflow: hidden;
}

.fashion-brand{
    width: 80vw;
    height: 7vh;
}

.footerInfo{
    display: inline-table;
    width: fit-content;
    line-height: 4.68vh;
    padding: 6.2vh 2vw 6.25vh;
}

.footerIteam{
    font-size: 3vh;
    display: block;
    text-align: left;
    text-decoration: none;
    color: rgb(143, 143, 143);
}

.iteams{
    font-size: 2.5vh;
    display: block;
    text-align: left;
    text-decoration: none;
    color: rgb(143, 143, 143);
}

a:hover {
    color: rgb(75, 75, 75);
    font-weight: bold;
}

.year{
    height: 7.81vh;
    background-color: rgb(238, 238, 238);;
    font-size: 2.18vh;
    color: rgb(143, 143, 143);
}
.year h5{
    padding-top: 3.12vh;
}

.country{
    width: 17px;
    height: 17px;
    border-radius: 50vh;
    border: 0.15vh solid rgb(97, 97, 97);
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 11000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10vh;
    width: 100vw;
    text-align: center;
    margin-top: 4.68vh;
}

.overlay a {
    padding: 1.25vh;
    text-decoration: none;
    font-size: 5.62vh;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 3.12vh;
    right: 3.3vw;
    font-size: 9.37vh;
}

.changeCountry{
    font-size: 2.5vh;
    float: left;
    color: rgb(143, 143, 143);
    cursor: pointer;
}

/*Throbber*/
.loader {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader > img {
    width: 13.21vw;
}
.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@media only screen and (max-width: 570px){
    .mainFooter{
        margin: 0 auto;
        width: 61vw;
    }

    .footerInfo{
        display: block;
        padding: 1vh;
    }

    .footerIteam{
        font-size: 2vh;
        display: block;
        text-align: left;
        text-decoration: none;
        color: rgb(143, 143, 143);
        cursor: pointer;
        width: 250px;
    }

    .helpInformationInfo, .aboutCrocodileInfo, .moreInfo, .changeCountry{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .footerIteam:after {
        font-family: FontAwesome;
        content: '\f107';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        font-family: FontAwesome;
        content: "\f106";
    }

    .iteams{
        font-size: 1.8vh;
        display: block;
        text-align: left;
        text-decoration: none;
        color: rgb(143, 143, 143);
    }

    .changeCountry{
        font-size: 1.8vh;
    }

    .fashion-brand{
        position: relative;
        animation: mymove 8s infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes mymove {
        from {left: -1020px;}
        to {left: 400px;}
    }
}
@media only screen and (max-width: 750px){
    footer {
        padding-top: 60px;
    }
}
