body {
    overflow: hidden;
}
.box {
    width: 100%;
    height: 750px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.mainNav {
    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
}
.about {
    width: 100%;
    height: 100%;
    text-align: center;
}
.MainPage {
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}
.opening {
    font-size: 30px;
}
.figure:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url(../images/throbber-left.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: bottom;
    transition: 4s;
}
body:hover .figure:before {
    transform: rotateX(90deg) translateY(50%);
}
.figure:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url(../images/throbber-right.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: top;
    transition: 4s;
    background-position: 50%;
}
body:hover .figure:after {
    transform: rotateX(90deg) translateY(-50%);
}
.Buttons-and-Text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}
.Buttons-and-Text ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-top: 5px;
    font-size: 30px;
}
.Buttons-and-Text ul:first-child {
    margin-right: 30px;
}
.Buttons-and-Text ul:last-child {
    margin-left: 30px;
}
.Buttons-and-Text ul li {
    text-align: center;
}
.Buttons-and-Text ul:first-child li:nth-child(2) {
    margin-right: 35px;
}
.Buttons {
    margin-top: 20px;
    width: 270px;
    height: 50px;
    border: 2px solid rgba(175, 242, 124, 0.5);
    background-color: white;
    font-size: 23px;
    letter-spacing: 2px;
    cursor: pointer;
}
.Buttons:hover {
    transition: background-color 1s;
    background-color: black;
    color: white;
}
.second {
    margin-top: 10px;
    font-size: 24px;
    color: lightslategray;
    letter-spacing: 3px;
}