.mainDiv {
    width: 100%;
    /*height: 500px;*/
    margin-top: 50px    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img1 {
    margin-top: 30px;
    text-align: center;
}

.headers {
    font-size: 60px;
    font-weight: bolder;
    /*font-family: futura-pt,Helvetica,Arial,sans-serif*/
    margin-top: 30px
}

.mainTitle {
    font-size: 80px;
    letter-spacing: 34px;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    margin-top: 5%;
}

.mainTitle::after {
    content: "Y.";
    letter-spacing:0;
}

.text {
    margin-top: 20px;
    font-size: 15px;
    color: gray;
    /*font-family: futura-pt,Helvetica,Arial,sans-serif*/
}

#biggerPicture {
    width: 100%;
    height: 1400px;
    background-image: url(../images/ourstoryPics/Balenciaga-x-Farfetch-Capsule-Collection-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#mainPicture {
    width: 1200px;
    height: 675px;
    background-image: url(../images/ourstoryPics/redlight.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;

}

#title {
    width: 52%;
    height: 180px;
    text-align: center;
    background-color: #FCFCFC;
    border-top: 1px solid black;
}
.text2 {
    margin-top: 20px;
    font-size: 18px;
    color: gray;
    line-height: 30px;
    margin-bottom: 60px;
}
#lastTitle {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 30px
}