html {
    scroll-behavior: smooth;
}

#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 12000;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #5B8930;
    opacity: 70%;
    color: white;
    padding: 15px;
    border-radius: 100px;
}

#scrollButton:hover {
    background-color: white;
    color:black;
    border: 0.5px solid black;
    cursor: pointer;
}
